<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <!-- user -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <div class="media-left">
                        <img src="assets/images/placeholder.jpg" class="img-circle img-sm">
                    </div>
                    <div class="media-body">
                        <span class="media-heading text-semibold">
                            Đạt Huỳnh
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user -->
        <!-- options -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <li class="navigation-header">Menu</li>
                    <li>
                        <a routerLink="main">
                            <i class="icon-home4"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /options -->
    </div>
</div>
