<app-header [loggedIn]="true"></app-header>
<div class="page-container">
<div class="page-content">
    <div class="sidebar sidebar-main">
      <div class="sidebar-content">
          <!-- user -->
          <div class="sidebar-user">
              <div class="category-content">
                  <div class="media">
                      <div class="media-left">
                          <img src="assets/images/placeholder.jpg" class="img-circle img-sm">
                      </div>
                      <div class="media-body">
                          <span class="media-heading text-semibold">
                              Đạt Huỳnh
                          </span>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /user -->
          <!-- options -->
          <div class="sidebar-category sidebar-category-visible">
              <div class="category-content no-padding">
                  <ul class="navigation navigation-main navigation-accordion">
                      <li class="navigation-header">Menu</li>
                      <li routerLinkActive="active">
                          <a routerLink="/main" >
                              <i class="icon-list"></i>
                              <span>Patients list</span>
                          </a>
                      </li>
                      <li routerLinkActive="active">
                          <a [routerLink]="['/monitor']">
                              <i class="icon-chart"></i>
                              <span>Monitoring</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- /options -->
      </div>
  </div>
  <div class="content-wrapper">
    <div class="page-header page-header-default">
      <div class="page-header-content">
        <div class="page-title">
          <h4>
            Heart Beat Monitor
          </h4>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">Heart beat graph</h5>
          <div class="heading-elements">
            <ul class="icons-list">
              <li><a data-action="collapse"></a></li>
              <li><a data-action="reload"></a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-calendar22"></i></span>
              <input type="text" class="form-control daterange-time" value="11/23/2017 08:00 am - 11/23/2017 9:00 am">
            </div>
          </div>
          <div class="chart-container" style="height:400px">
            <app-chart [lineChartData]="lineChartRawData" [lineChartLabels]="lineChartRawLabels"></app-chart>
          </div>
        </div>
      </div>
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">BPM graph</h5>
          <div class="heading-elements">
            <ul class="icons-list">
              <li><a data-action="collapse"></a></li>
              <li><a data-action="reload"></a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon-calendar22"></i></span>
              <input type="text" class="form-control daterange-time" value="11/23/2017 08:00 am - 11/23/2017 9:00 am">
            </div>
          </div>
          <div class="chart-container" style="height:300px">
            <app-chart [lineChartData]="lineChartBpmData" [lineChartLabels]="lineChartBpmLabels"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
